@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
	font-style: bold;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
	font-style: italic;
    src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("../fonts/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
    font-family: OpenDyslexic;
	font-style: bold;
    src: url("../fonts/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
    font-family: OpenDyslexic;
	font-style: italic;
    src: url("../fonts/OpenDyslexic-Italic.otf") format("opentype");
}

::-webkit-scrollbar {
	width: 8px;
}
  
::-webkit-scrollbar-track {
	background: #151c27;
}

::-webkit-scrollbar-thumb {
	background: #DDDDDD;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #BBB;
}

body{
    display: flex;
	flex-direction: column;
	min-height: 96vh;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
    background-color: #151c27;
    color: #DDDDDD;
	font-family: Montserrat;
}

a{
    color: pink;
}

h1{
    text-align: center;
}

#submitBtn{
        background-color: #151c27;
        color: #DDDDDD;
        text-decoration: none;
        margin-right: 5px;
        border-radius: 25px;
        border: 1px solid #DDDDDD;
        border-right: none;
        float:left;
}

#changeFontBtn{
	display: block;
	background-color: #151c27;
	color: #DDDDDD;
	text-align: center;
	text-decoration: none;
	margin-right: 5px;
	border-radius: 25px;
	border: 1px solid #DDDDDD;
	border-right: none;
	float:right;
}

#logoutBtn{
	display: block;
	background-color: #151c27;
	color: #DDDDDD;
	text-align: center;
	text-decoration: none;
	margin-right: 5px;
	border-radius: 25px;
	border: 1px solid #DDDDDD;
	border-right: none;
	float:right;
}

#logoutBtn:hover{
	background-color: #DDDDDD;
	color: #151c27;
}

#changeFontBtn:hover{
	background-color: #DDDDDD;
	color: #151c27;
}

.ligneprojet{
	padding-bottom: 15px;
}

#listeinvisible{
	list-style: none;
}

#listeinvisible li{
	padding-bottom: 5px;
}

footer{
	margin-top: auto;
	bottom: 0;
	width: 100%;
}

footer ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	justify-items: center;
}

footer ul li{	
	display: inline-block;
}

#footerleft {	
	position: absolute;	
	left: 0;
	padding-top: 7px;
	padding-left: 20px;
}

#footercenter {	
	display: inline-block;
	text-align: center;	
	width: 100%;
	padding-top: 7px;
}

#footerright {
    padding-right: 15px;
    padding-top: 7px;
	position: absolute;	
	right: 0;
}

@media screen and (max-width: 820px){
	nav ul li{
		float: none;
		width: 100%;
		border-right: none;
	}

	nav ul li a{
		padding: 1px;
	}

	section#first{
		padding-top: 300px;
	}
	section{
		padding-top: 5px;
		padding-right: 15px;
	}
	
	img{
		max-width: 100%;
		height: auto;
    }

	#footerright{
		display: none;
	}

	#footercenter{
		padding-left: 30%;
		right: 0;
	}

	#langa, #homea{
		margin-left: auto;
		margin-right: auto;
	}
}
